#favDialog {
    width: 60rem;
    height: 40rem;
    display: flex;
    margin-top: 5rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.945);
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #loginDialog {
    width: 55rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #favDialog  #loginDialog h3{
    text-align: center;
    font-size: 3rem;
  }
  #favDialog  #loginDialog label{
    font-size: 2rem;
    margin-left: 7rem;
  }
  #favDialog  #loginDialog input{
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: -1.5rem;
    width: 40rem;
    margin-left: 7rem;
  }
  #favDialog  #loginDialog .submitInput{
    margin-top: 2rem;
    background-color: rgba(255, 0, 0, 0.527);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  #favDialog  #loginDialog #closeBtn{
    width: 4rem;
    height: 4rem;
    border: 3px solid rgba(107, 104, 104, 0.295);
    margin-left:19rem;
    margin-top: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    color: rgba(107, 104, 104, 0.295);
    right: 0;
    margin-right: 2rem;
    margin-top: -1rem;
  }
  #favDialog  #loginDialog #closeBtn:hover{
    background-color: rgba(107, 104, 104, 0.295);
    color: white;
  }