body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}
#main {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}
#container-card {
  width: 80%;
  margin: auto;
  > div {
    display: flex;
    width: 100%;
    margin: auto;
    > h2 {
      /* margin-left: 5.5em; */
      font-size: 25px;
      width: 82%;
      color: rgba(0, 0, 0, 0.724);
      position: relative;
      top: 10px;
    }
    > button {
      width: 6em;
      height: 2.5em;
      border: none;
      background-color: white;
      color: red;
      margin-top: 30px;
      margin-left: 11em;
      cursor: pointer;
      position: relative;
      top: 10px;
    }
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    > div {
      width: 20%;
      border-radius: 15px;
    }
    > div > img {
      width: 80%;
      border-radius: 15px;
      display: flex;
      flex-wrap: wrap;
    }
    > div > h3 {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.749);
      margin-left: 10px;
      margin-top: 4px;
      display: flex;
      flex-wrap: wrap;
    }
    > div > p {
      margin-top: -14px;
      color: rgba(0, 0, 0, 0.707);
      font-weight: 500;
      font-size: 17px;
      margin-left: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
#container-card-2 {
  margin-top: 5em;
  margin-bottom: 45px;
  width: 78%;
  margin-left: 8.5em;
  display: flex;
  flex-wrap: wrap;
  > img {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
  }
}

#PREMIRE {
  background-color: rgb(1, 48, 69);
  color: white;
  margin-top: 50px;
  overflow: hidden;
  > img {
    margin-left: 130px;
    display: flex;
    flex-wrap: wrap;
  }
  > h2 {
    margin-left: 132px;
    display: flex;
    flex-wrap: wrap;
  }
  > p {
    margin-left: 132px;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 82%;
    margin: auto;
    > div > img {
      width: 90%;
      border-radius: 15px;
    }
    > div > h3 {
      font-size: 19px;
      color: rgba(0, 0, 0, 0.749);
      margin-left: 10px;
      margin-top: 4px;
      color: white;
    }
    > div > p {
      margin-top: -14px;
      color: rgba(0, 0, 0, 0.707);
      font-weight: 500;
      font-size: 17px;
      margin-left: 10px;
      color: white;
    }
  }
}
.h2 {
  margin-left: 140px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.707);
  display: flex;
  flex-wrap: wrap;
}
#trending {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin: auto;
  line-height: 0.5;
  margin-top: 20px;

  > div {
    background-color: white;
    padding: 30px 25px 20px;
    height: 30px;
    > h3 {
      margin-top: -11px;
      position: relative;
      right: 10px;
      font-size: 15px;
      color: rgba(255, 0, 0, 0.724);
    }
    > p {
      position: relative;
      right: 10px;
      font-size: 15px;
      color: gray;
      font-weight: 500;
    }
  }
}
.home {
  width: 100%;
  height: 45px;
  background-color: white;
  color: rgba(0, 0, 0, 0.66);
  font-size: 14px;
  font-weight: 400;
  > span {
    margin-left: 11em;
    line-height: 3em;
  }
}
#footer {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.66);
}
.logo-footer {
  width: 140px;
  margin: auto;
  position: relative;
  top: 100px;
}
#icon {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height: 100px;
  margin: auto;
  margin-top: 100px;

  > p {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: rgb(122, 121, 121);
    > i {
      font-size: 20px;
      color: white;
      line-height: 40px;
      text-align: center;
      margin-left: 11px;
    }
  }
  > p:hover {
    background-color: white;
    cursor: pointer;
    > i {
      color: black;
    }
  }
}

.inside-bottom-1 {
  text-align: center;
  color: rgb(161, 158, 158);
  width: 90%;
  margin: auto;
  font-size: 13px;
  margin-top: -40px;
}
.inside-bottom-2 {
  text-align: center;
  color: rgb(161, 158, 158);
  width: 90%;
  margin: auto;
  font-size: 13px;
}
