*{
  font-family: 'Poppins' , sans-serif;
  margin: 0;padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .3s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body{
  background-color: #eee;
}
#main {
  width: 155rem;
  align-items: center;
  text-align: center;
}
#container-card .title{
  display: flex;
  justify-content: space-between;
  width: 126rem;
  margin: auto;
  padding: 2rem;
}

#container-card .card{
  display: flex;
  justify-content: space-between;
  width: 124rem;
  margin: auto;
}
#container-card .card img{ 
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  height: 30rem;
  gap: 5rem;
}
#container-card .card h3{
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
}
#container-card .card p{
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: -1rem;
}

#container-card-2{
  width: 155rem;
  align-items: center;
  text-align: center;
}

#PREMIRE{
  margin-top: 5rem;
  background-color: rgb(45, 45, 71);
  width: 160rem;
  height:  55rem;

}
#PREMIRE .insideimg{
  margin-left: 16rem;

}

#PREMIRE h2{
  margin-left: 16rem;
  color: white;
  font-size: 2rem;

}
#PREMIRE p{
  margin-left: 16rem;
  color: white;
  font-size: 1.5rem;
}
#PREMIRE .card{
  display: flex;
  justify-content: space-between;
  width: 125rem;
  margin: auto;
}

#PREMIRE .card img{
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  height: 30rem;
  gap: 5rem;
}
#PREMIRE .card h3{
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  color: white;
}
#PREMIRE .card p{
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: -1rem;
  text-align: center;
  margin-left: -4rem;
}



#trending {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 125rem;
  height: auto;
  margin: auto;
  line-height: 0.5;
  margin-top: 2rem;
  > div {
      background-color: white;
      padding: 3rem 2rem 2rem;
      height: 6rem;
    > h3 {
      margin-top: -1.4rem;
      position: relative;
      right: 1rem;
      font-size: 1.5rem;
      color: rgba(255, 0, 0, 0.724);
    }
    > p {
      position: relative;
      right: 1rem;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      color: gray;
      font-weight: 500;
    }
  }
}
.h2{
  display: flex;
  justify-content: space-between;
  width: 126rem;
  margin: auto;
  padding: 2rem;
}
.home {
  width: 155rem;
  height: 4rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.66);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 3rem;
  > span {
    margin-left: 15rem;
    line-height: 4rem;
  }
}
#footer {
  width: 155rem;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.66);
  margin-top: 2rem;

}
.logo-footer {
  width: 14rem;
  margin: auto;
  position: relative;
  top: 10rem;
}
#icon {
  /* display: flex; */
  flex-wrap: wrap;
  width: 40rem;
  height: 10rem;
  margin: auto;
  margin-top: 10rem;
  > p {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50rem;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    background-color: rgb(122, 121, 121);
    > i {
      font-size: 2rem;
      color: white;
      line-height: 4rem;
      text-align: center;
      margin-left: .9rem;
      flex-wrap: wrap;
    }
  }
  > p:hover {
    background-color: white;
    cursor: pointer;
    > i {
      color: black;
    }
  }
}

.inside-bottom-1 {
  text-align: center;
  color: rgb(161, 158, 158);
  width: 90%;
  margin: auto;
  font-size: 13px;
  margin-top: -40px;
}
.inside-bottom-2 {
  text-align: center;
  color: rgb(161, 158, 158);
  width: 90%;
  margin: auto;
  font-size: 13px;
}

.slideBtn{
  position: absolute;
  height: 5rem;
  padding: 2rem;
  background-color:rgba(106, 105, 105, 0.887);
  color :white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px; 
  border-radius: 50px; 
  margin-top: -5rem;
}
.slideBtn:hover{
  cursor: pointer;
  background-color: rgba(48, 45, 45, 0.128);
}
.sliderParent{
  display: flex;
  justify-content: center;
  align-items: center;
}
