body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#nav{
    width: 100vw;
    height: 65px;
    display: flex;
    position: relative;
    background-color: rgba(0, 7, 33, 0.772);
    >.right-nav{
        display: flex;
        width: 45%;
        height: 60px;
        margin-left: 150px;
        color: white;
        >svg{
          margin-top:15px;
          
        }
    #search{
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
    #search>button{
        height: 33px;
        width: 45px;
        border: none;
        background-color: white;
        color: rgb(129, 128, 128);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }
        #search-input{
          border: none;
           width: 29vw;
           height: 31px;
           outline: none;
           border-top-right-radius: 5px;
           border-bottom-right-radius: 5px;
        }
    }
    >.left-nav{
        width: auto;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        position:absolute;
        right: 140px;
        color:white;
        
        >p{
            font-size: 15px;
            text-align: center;
            align-items: center;
            margin-top: 23px;
            cursor: pointer;
        }
        >p>i{
            margin-left: 3px;
            text-align: center;
            align-items: center;
            font-size: 13px;
        }
        #btn{
            background-color: rgb(251, 46, 46);
            color: white;
            width: 4.5vw;
            height: 4vh;
            border-radius: 5px;
            margin-top: 16px;
            cursor: pointer;
            border: none;
        }  
        
    }
    
}
.sidepanel {
    height: 1000px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  #side-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(46, 49, 71);
    height: 63px;
    margin-top: -60px;
    >span{
      position: relative;
      left: 25px;
      font-size: 25px;
    }
    .closebtn{
      position: relative;
      right: 30px;
    }
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 13px 15px;
    border: none;
  }
  
  #login{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    background-color: white;
    color: black;
    height: 60px;
    >div>img{
      width: 55%;
      margin-top: 9px;
      margin-left: 15px;
    }
    >div>p{
      width:160px;
      margin-top: 12px;
      color: rgb(65, 65, 65);
    }
    >div>button{
      border:1px solid red;
      height: 35px;
      width: 7vw;
      border-radius: 5px;
      margin-top: 12px;
      margin-left: 10px;
      background-color: white;
      color: red;
      font-size: 12px;
    
    }
  }